<div class="row">
	<div class="col-xs-6 col-xs-push-3 top">
		<h2>Edit Album</h2>
		<%= render 'form', album: @album %>
		<%= link_to 'Show', album_path %> |
		<%= link_to 'Back', albums_path %>
	</div>
</div>
