<div class="row">
	<div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3 top">
		<h2>Editing Review</h2>
		<%= simple_form_for([@album, @review]) do |f| %>
			<%= f.error_notification %>
		<div id="rating-form">
			<label>Rating</label>
		</div>	
	  	<div class="form-inputs">
	  		<%= f.input :comment, as: :text, :input_html => { class: 'test', :rows => 10 } %>
	  	</div>
	  	<br />
	 	<div class="form-actions">
	    	<%= f.button :submit, class: 'btn btn-grey' %>
	  	</div>
	<% end %>

	<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
	</script>
	</div>
</div>

